<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

        
        
        <beans>
        <bean id="bk" class="com.ex.Book">
        <property name="bkid" value="105"></property>
        <property name="book_name" value="ocjp"></property>
        <property name="book_price" value="998"></property>
        <property name="book_author" value="Alice"></property>
        
        
        </bean>
        <bean id="programming" class="com.ex.Categary" autowire="byName">
        <property name="categary_name" value="certification"></property>
        
        
        </bean>
        </beans>