
<web-app>
	<servlet>
	<servlet-name>first</servlet-name>
	<servlet-class>com.ex.Register</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>first</servlet-name>
	<url-pattern>/insert</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>second</servlet-name>
	<servlet-class>com.ex.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>second</servlet-name>
	<url-pattern>/select</url-pattern>
	</servlet-mapping>
</web-app>